*{
    margin: 0;
    padding: 0;
}
.header{
    background: #8e44ad;
}
.fa-bars{
    color: #fff;
    font-size: 40px;
}
.navbar-toggler{
    border: 0 !important;
    padding: initial !important;
    color: transparent !important;
}
.active-home{
    border-bottom: 2px solid #fff;
}

.nav-link:hover{
    border-bottom: 2px solid #fff;
}